
# Except these two files
!cyberjarvis.py
!face_auth.py

# Ignore personal / temp files
my_face.jpg
temp.jpg
__pycache__/
venv/
# Ignore sensitive logs
intruder_logs
intruder_logs.txt
*.log

# Personal data
my_face.jpg
master_voice.wav
master_voice_feat.npy
intruder_logs/
intruder_logs.txt

enroll_me.py
extract_feature.py